@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Musetta";
  src: url("/fonts/musetta-regular-webfont.woff2") format("woff2");
}

@layer base {
  * {
    @apply box-border focus:outline-none;
  }

  html,
  body {
    @apply h-full w-full m-0 p-0 antialiased;
  }

  body > #__next {
    @apply h-full w-full;
  }

  a {
    @apply text-inherit no-underline;
  }
}

@layer utilities {
  .font-serif-variation {
    font-variation-settings: "opsz" 72, "SOFT" 50;
    @apply -tracking-[0.03em];
  }
}
